.form-container {
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 1rem;
  border: 2px solid black;
  margin: 0 2em;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
}

input,select{
  margin-left: 1em;
}

.input_container{
  margin: 1em;
}

.required::before {
  content: " *";
  color: red;
}
